@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&family=Satisfy&display=swap');
.textContainer {
    
    float: right;
    flex-direction: column;
   
  
    height: 100vh;
    width: 30%;
    justify-content: space-between;
    background-color: transparent;
    border: 1px solid;
  padding: 10px;
  box-shadow: 15px 10px;
  }
  
  .activeContainer {
    display: flex;
    align-items: center;
    margin-bottom: 50%;
    background-color: transparent;
    opacity: 0.5;
    font-family: 'Indie Flower', cursive;
font-family: 'Lobster', cursive;
font-family: 'Satisfy', cursive;
  }
  
  .activeItem {
    display: flex;
    align-items: center;
  }
  
  .activeContainer img {
    padding-left: 10px;
  }
  
  .textContainer h1 {
    margin-bottom: 0px;
    font-size: 16px;
    font-family: 'Indie Flower', cursive;
font-family: 'Lobster', cursive;
font-family: 'Satisfy', cursive;
  }
  
  @media (min-width: 320px) and (max-width: 1200px) {
    .textContainer {
      display: none;
    }
}